<div class="row">
  <div class="col-md-4">
    <% if @author.photo_url %>
      <img src="<%= @author.photo_url %>" class="img-fluid rounded" alt="<%= @author.name %>">
    <% end %>
  </div>
  
  <div class="col-md-8">
    <h1><%= @author.name %></h1>
    
    <% if @author.display_years %>
      <p class="lead"><%= @author.display_years %></p>
    <% end %>
    
    <% if @author.bio %>
      <div class="mb-4">
        <h5>Biography:</h5>
        <p><%= @author.bio %></p>
      </div>
    <% end %>
    
    <h5>Books by <%= @author.name %> (<%= @books_count %>):</h5>
    <div class="row">
      <% @author.books.each do |book| %>
        <div class="col-md-6 mb-3">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title"><%= link_to book.title, book_path(book) %></h6>
              <p class="card-text">
                <small class="text-muted">
                  <%= link_to book.publisher.name, publisher_path(book.publisher) if book.publisher %> 
                  (<%= book.publish_date %>)
                </small>
              </p>
              <p class="card-text">
                <% book.subjects.first(2).each do |subject| %>
                  <span class="badge bg-light text-dark">
                    <%= link_to subject.name, subject_path(subject), class: "text-decoration-none text-dark" %>
                  </span>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="mt-4">
  <%= link_to "â† Back to Authors", authors_path, class: "btn btn-secondary" %>
</div>